@model DataModels.Note;
@{
}
<div class="mt-2" style="width:50%">
    <form asp-action="EditNotes">
        <input asp-for="Id" type="hidden" class="form-control">

        <h2>Edit Note</h2>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name Note</label>
            <input asp-for="Name" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea name="description" type="text" class="form-control" rows="3"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/Note/DisplayNotes" class="btn btn-primary">Back</a>
    </form>
</div>