@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="basebody" >
    <h1 class="display-2"><strong>Welcome </strong> </h1>
    <h1 class="display-2">to the <strong>My Notes program!</strong> </h1>

    <br/>
    <br/>
    <h1 class="display-4"><em>You need to <strong>log in</strong>  </em></h1>
    <h1 class="display-4"><em> to continue working! </em></h1>
</div>

*@






